body {
  background-color: #08244c;
}

.App {
  text-align: center;
  font-family: 'open-sans', sans-serif;
  background-color: #08244c;
}


.App-header {
  background-color: #08244c;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 25px;
}
.Cards {
  background-color: #08244c;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Filters {
  display: flex;
  flex-direction: column;
  background-color: #08244c;
  color: white;
  text-align: right;
  justify-content: right;
  margin: 15px;
}

.OneCard {
  border-style: solid;
  margin: 5px;
  padding: 5px;
  text-align: left;
  border-radius: 5px;
  font-size: large;
}

.green-button {
  background-color: #82d9a1;
  border:none;
  border-radius: 8px;
  color: #08244c;
}

.App-link {
  color: #61dafb;
}
