.App {
  text-align: center;
  font-family: 'open-sans', sans-serif;
}


.App-header {
  background-color: #08244c;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Cards {
  background-color: #08244c;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.OneCard {
  border-style: solid;
  margin: 5px;
  padding: 5px;
  text-align: left;
}

.App-link {
  color: #61dafb;
}
